.card-container {
  border: 1px solid gray;
  padding: 12px;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.menu-container {
    position: absolute;
    padding: 0.5rem;
    border: 1px solid gray;
    top: 40px;
    min-width: 50px;
    right: 1rem;
    background-color: white;
}

.menu-item {
  background: none;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}