

.description {
    margin: 1rem 0;
}

.questions-block{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid gray;
}
.questions-container {
    margin: 1rem 0;
}

.question-container {
    display: flex;
    gap: 1rem;
}

.answers {
    margin: 1rem 0;
}

.answer {
    margin: 0.5rem 0;
    label {
        margin: 0 0.5rem;
    }
}